.wrapper{
    background-image: url('../img/header_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top -625px center;
}

.header {
    padding-top: 40px;
    padding-bottom: 32px;
}


.header_list {
    display: none;
}

.header_link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    color: #36536b;
}

.header_btn {
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background-color: #ba4270;
    padding: 16px 24px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.01em;
    color: #fbfcfe;
    display: none;
}

.header_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width: 768px) {
    .wrapper{
        background-position: top -570px center;
    }


    .header_list{
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header{
        padding-bottom: 48px;
    }
    
    .header_left_block{
        display: flex;
        gap: 64px;
        align-items: center;
    }

    .header_btn{
        display: flex;
    }

    .header_icon_btn{
        display: none;
    }
}

@media screen and (min-width: 1110px) {
    .wrapper{
        background-position: top -665px right -665px;
    }

    .header_list{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
    .header_left_block{
        display: flex;
        gap: 64px;
        align-items: center;
    }

    .header{
        padding-bottom: 74px;
    }
}